@media (max-width: 1400px) {
    
   
        
}


@media (max-width: 1200px) {

   

}
@media (max-width: 992px) {
 

    .img-me img{
        width: 300px;
    }
    .d-lg-none{
        display: none;
    }
    .service-row {
        display: block !important;
        scale: .8;
    }
  
}


@media (max-width: 768px) {

}

@media (min-width: 587px) {
 

}
